.vertical-scroll-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.city-list-navigation {
    display: flex;
    justify-content: center;
    margin: 2.5%;
    height: 100vh;
}

.city-list-h3 {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}

.list-item {
    width: 150px;
    margin: 2.5%;
    height: 75%;
    justify-content: space-between;
}